<html>

<head>
    <title>Web Padlock demo page</title>
    <script>
        var requestId = "{{ session.requestId }}"
        var localServerUrl = "{{ local_server_url }}"
    </script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>


<body>
    <h1>Web Padlock demo page</h1>
    <p>Please hit <em>test me</em> button.</p>
    <button id="testme_button">Test me</button>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>