body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
}
  
h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}

.statusMsg {
    font-size: large;
    text-decoration: underline;
}

.causeMsg {
    font-size: small;
    padding-left: 1em;
}

div.result {
    padding: 5;
    margin-top: 5;
}

p {
    margin-top: 0;
    margin-bottom: 2;
}
